.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding: 12px;
    max-width: 160px;
    max-height: 160px;
    border-radius: 25%;
    border: 1px solid #ccc;
  }
}
// #topnav {
//   position: sticky;
//   top: 0;
//   z-index: 1000;
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

//   .container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1rem 2rem;

//     .logo {
//       display: flex;
//       align-items: center;
//       border-radius: 50%;

//       img {
//         max-height: 40px;
//         transition: transform 0.3s ease-in-out;

//         &.logo-light-mode {
//           display: block;
//         }

//         &.logo-dark-mode {
//           display: none;
//         }
//       }

//       &:hover img {
//         transform: scale(1.05);
//       }
//     }
//   }
// }
